:root{
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --text-color:  #757575;
    --hero-name-color: #ffffff;
}
.body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    background-color: #FFFFFF;
    color: var(--title-text-color);
}
a {
    text-decoration: none;
}
button {
    font-family: inherit;
    cursor: pointer;
}
.list {
    list-style: none;
    }
/* header */

.navigation-link:hover,
.navigation-link:focus,
.contact-link:hover,
.contact-link:focus,
.contact-link-adress:hover,
.contact-link-adress:focus {
    color: var(--accent-color);
}
.principles-text, .worker-specialty, .filter-text {
    color: var(--text-color);
}
.title-section, .title-principles, .worker-name, .filter-title {
    color: var(--title-text-color);
}

.hero-button:hover {
    color: var(--title-text-color);
}
.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--hero-name-color);
    background-color: var(--accent-color);
    }
.filter-button:hover {
    color: var(--hero-name-color);
    background-color: var(--accent-color);
}
.filter-button {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    background-color: #F5F4FA;
}

.logo, .logo-footer {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color)
}
.logo-web {
    color: var(--title-text-color)
}
.navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: var(--title-text-color);
}
.contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: var(--text-color);
}
.hero, .footer {
    background-color: #2F303A;;
}
.hero-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;  
    text-align: center;
    color: var(--hero-name-color)
}
.title-principles {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
}
.title-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.worker-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}
.worker-specialty {
    font-size: 16px;
    line-height: 1.2;
}
.logo-footer-web, .address-text {
    color: var(--hero-name-color);
}
.address-text {
    font-size: 14px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.03em;
}
.filter-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.contact-link-adress {
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}